<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to quiz builder.com, <%= @first_name %> <%= @last_name %></h1>
    <p>
      You have been invited by <%= @host %> to take a quiz! titled: <%= @quiz[:title] %>.
      To take this quiz on the site, just follow this link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
